/* button.css */

/* Center the button */
.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height based on your layout */
  }
  
  button {
    /* Add any button styling you need */
    background-color: rgb(225, 13, 13); /* Change button background color to red */
    color: white; /* Set text color to white for better visibility */
    padding: 10px 20px; /* Add padding for a better button appearance */
    border: none; /* Remove default button border */
    cursor: pointer; /* Show pointer cursor on hover */
    border-radius: 5px; /* Add some border radius for a rounded look */
  }
  